<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>279491510509-elhoq5q8avjnpr03ffo4g8s435v5ddsa.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.279491510509-elhoq5q8avjnpr03ffo4g8s435v5ddsa</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>279491510509-dfl8nupv5tqjn0a5189hmaspi3i5p4bp.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAHUiWtBX2rlKDXbnZHAUssr22xVFGI4Iw</string>
	<key>GCM_SENDER_ID</key>
	<string>279491510509</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.eComm.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>e-com-98eba</string>
	<key>STORAGE_BUCKET</key>
	<string>e-com-98eba.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:279491510509:ios:2d89fd1533af3569b40ce4</string>
</dict>
</plist>